# Data Pre-Processing Using Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Display the summery statistics of the dataset

In [3]:
df=pd.read_csv('DS1_C8_V3_ND_Sprint3_BankChurn_Data.csv')
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Region,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,England,39,5,1,3,12691.0,777,11914.0,1144,42,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,Northern Ireland,44,6,1,2,8256.0,864,7392.0,1291,33,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,England,36,4,1,0,3418.0,0,3418.0,1887,20,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,Wales,34,3,4,1,3313.0,2517,796.0,1171,20,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,England,21,5,1,0,4716.0,0,4716.0,816,28,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,England,40,3,2,3,4003.0,1851,2152.0,15476,117,0.462
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,England,25,4,2,3,4277.0,2186,2091.0,8764,69,0.511
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,England,36,5,3,4,5409.0,0,5409.0,10291,60,0.000
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,England,36,4,3,3,5281.0,0,5281.0,8395,62,0.000
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,Scotland,25,6,2,4,10388.0,1961,8427.0,10294,61,0.189

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             9995 non-null   object
 9   Region                    10127 non-null  object
 10  Months_on_book            10127 non-null  int64
 11  Total_Relationship_Count  10127 non-null  int64
 12  Months_Inactive_12_mon    10127 non-null  int64
 13  Contacts_Count_12_mon     10127 non-null  int64
 14  Credit_Limit              10067 non-null  float64
 15  Total_Revolving_Bal       10127 non-null  int64
 16  Avg_Open_To_Buy           10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(3), int64(10), object(7)
memory usage: 1.5+ MB

In [7]:
df.shape

(10127, 20)

## Identify the outlier in the dataset

In [24]:
def outlier(column):
    q1=column.quantile(0.25)
    q3=column.quantile(0.75)
    IQR=q3-q1
    
    lf= q1-1.5*IQR
    uf= q3+1.5*IQR
    
    outliers=column[(column<lf)|(column>uf)]
    
    print(f'Column : {column.name}')
    print(f'Number of outliers : {len(outliers)}')
    if len(outliers)>0:
        print(f'Outliers: {outliers.tolist()}')
        
for column in df.columns:
    if df[column].dtype in [np.int64, np.float64]:
        outlier(df[column])

Column : CLIENTNUM
Number of outliers : 0
Column : Customer_Age
Number of outliers : 57
Outliers: [77, 87, 23, 73, 70, 74, 81, 23, 81, 73, 75, 77, 22, 78, 88, 23, 78, 78, 20, 88, 80, 80, 84, 19, 78, 19, 23, 72, 19, 85, 74, 79, 20, 85, 20, 21, 86, 69, 21, 83, 89, 87, 22, 78, 19, 88, 18, 22, 72, 83, 69, 20, 23, 23, 76, 80, 22]
Column : Dependent_count
Number of outliers : 63
Outliers: [9, 29, 103, 22, 25, 78, 90, 35, 60, 42, 119, 104, 29, 88, 48, 34, 143, 100, 59, 130, 95, 7, 25, 82, 69, 92, 78, 110, 17, 110, 10, 27, 19, 109, 130, 142, 10, 82, 116, 113, 125, 80, 63, 24, 95, 97, 102, 48, 52, 87, 97, 11, 117, 13, 102, 67, 89, 61, 103, 72, 120, 76, 113]
Column : Months_on_book
Number of outliers : 386
Outliers: [54, 56, 56, 56, 54, 56, 56, 56, 54, 55, 56, 56, 54, 54, 56, 56, 56, 56, 13, 13, 56, 56, 13, 56, 56, 56, 15, 56, 17, 13, 54, 54, 13, 56, 54, 13, 54, 55, 54, 17, 17, 56, 13, 17, 16, 15, 16, 56, 56, 13, 56, 56, 56, 17, 14, 13, 13, 56, 54, 54, 15, 56, 16, 56, 17, 17, 14, 17, 55, 55, 14, 13, 14, 54, 54, 13, 15, 13, 13, 15, 13, 13, 13, 17, 55, 56, 56, 13, 15, 55, 13, 13, 55, 13, 15, 16, 56, 13, 56, 16, 54, 16, 55, 55, 16, 56, 56, 17, 54, 13, 13, 17, 14, 56, 15, 13, 13, 54, 13, 17, 13, 14, 13, 13, 56, 15, 15, 16, 13, 55, 56, 17, 17, 15, 17, 15, 13, 56, 56, 13, 54, 56, 55, 15, 56, 15, 56, 16, 17, 13, 15, 13, 56, 56, 56, 13, 56, 56, 17, 13, 56, 16, 55, 14, 14, 16, 54, 17, 17, 13, 17, 14, 14, 14, 54, 15, 56, 55, 13, 14, 17, 17, 56, 56, 13, 15, 56, 13, 56, 54, 15, 55, 54, 17, 56, 17, 56, 54, 54, 13, 13, 55, 54, 55, 56, 16, 56, 13, 56, 55, 56, 56, 56, 55, 54, 54, 56, 55, 16, 56, 56, 13, 55, 16, 56, 56, 54, 13, 56, 56, 56, 13, 56, 56, 56, 54, 17, 56, 56, 17, 55, 56, 56, 13, 56, 56, 56, 15, 54, 13, 13, 55, 56, 54, 55, 56, 56, 56, 56, 17, 54, 15, 54, 54, 17, 15, 16, 55, 16, 54, 55, 56, 56, 55, 56, 56, 54, 17, 55, 55, 55, 54, 56, 54, 13, 17, 55, 56, 54, 56, 15, 55, 55, 16, 13, 15, 56, 14, 15, 55, 15, 55, 54, 13, 13, 56, 13, 56, 56, 17, 13, 16, 56, 56, 55, 54, 16, 17, 13, 16, 56, 54, 56, 15, 54, 55, 55, 17, 16, 13, 54, 13, 13, 56, 55, 54, 56, 16, 54, 16, 56, 54, 17, 54, 54, 16, 56, 55, 15, 15, 14, 13, 15, 14, 55, 13, 54, 15, 16, 54, 16, 17, 16, 13, 13, 17, 13, 13, 15, 17, 55, 15, 13, 54, 13, 55, 17, 13, 13, 16, 16, 15, 17, 14, 54, 15]
Column : Total_Relationship_Count
Number of outliers : 0
Column : Months_Inactive_12_mon
Number of outliers : 331
Outliers: [6, 0, 5, 0, 6, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 6, 5, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 0, 5, 5, 6, 6, 6, 5, 6, 0, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 0, 5, 6, 0, 5, 6, 6, 6, 6, 5, 6, 0, 5, 6, 6, 5, 6, 6, 5, 5, 6, 6, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 0, 6, 6, 6, 0, 6, 0, 5, 5, 0, 6, 6, 6, 5, 5, 6, 0, 0, 6, 6, 6, 5, 6, 6, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 0, 5, 6, 6, 6, 5, 6, 6, 0, 5, 5, 6, 5, 6, 5, 6, 5, 0, 5, 5, 0, 5, 6, 5, 5, 5, 5, 6, 5, 6, 5, 5, 6, 6, 0, 6, 6, 6, 0, 6, 6, 5, 5, 6, 0, 0, 6, 0, 5, 5, 6, 6, 0, 0, 5, 0, 5, 6, 0, 0, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 6, 5, 6, 5, 5, 6, 5, 5, 6, 6, 5, 6, 6, 0, 6, 5, 6, 6, 5, 5, 6, 6, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 6, 6, 0, 5, 5, 5, 5, 5, 6, 5, 5, 5, 6, 5, 6]
Column : Contacts_Count_12_mon
Number of outliers : 629
Outliers: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 5, 0, 5, 5, 5, 5, 5, 5, 5, 0, 5, 5, 5, 5, 5, 0, 5, 5, 0, 0, 0, 0, 5, 5, 5, 5, 5, 5, 0, 5, 5, 5, 5, 5, 5, 5, 5, 0, 0, 5, 0, 0, 5, 0, 0, 0, 0, 5, 5, 5, 5, 5, 5, 5, 5, 0, 5, 5, 5, 5, 0, 5, 5, 5, 5, 0, 5, 0, 5, 0, 5, 0, 5, 5, 0, 5, 5, 0, 5, 5, 5, 5, 0, 5, 5, 5, 0, 5, 0, 5, 5, 5, 5, 5, 5, 5, 5, 6, 0, 5, 5, 0, 0, 5, 5, 5, 5, 5, 5, 5, 0, 5, 5, 5, 6, 5, 5, 5, 0, 0, 0, 5, 0, 0, 5, 0, 5, 0, 5, 0, 5, 0, 6, 5, 0, 5, 0, 5, 5, 0, 5, 5, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 6, 0, 0, 0, 5, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 5, 0, 5, 6, 0, 5, 0, 5, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 5, 0, 0, 6, 0, 5, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 6, 0, 6, 0, 6, 0, 0, 5, 0, 5, 6, 0, 0, 0, 0, 6, 0, 0, 0, 0, 5, 5, 0, 0, 0, 0, 5, 0, 5, 0, 6, 0, 0, 5, 0, 0, 6, 5, 0, 0, 0, 0, 0, 0, 6, 5, 0, 5, 0, 0, 0, 5, 0, 6, 0, 0, 0, 6, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 6, 6, 0, 0, 6, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 6, 6, 0, 6, 0, 5, 0, 0, 0, 0, 5, 0, 6, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 6, 0, 0, 6, 0, 5, 5, 6, 0, 0, 5, 5, 5, 0, 0, 5, 0, 0, 0, 5, 0, 0, 5, 6, 0, 5, 0, 0, 0, 0, 6, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 6, 6, 0, 0, 0, 5, 5, 6, 6, 6, 5, 6, 0, 0, 0, 6, 0, 6, 6, 0, 6, 0, 5, 6, 0, 5, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, 5, 0, 6, 5, 5, 5, 0, 5, 5, 5, 5, 5, 0]
Column : Credit_Limit
Number of outliers : 986
Outliers: [34516.0, 29081.0, 30367.0, 32426.0, 34516.0, 34516.0, 34516.0, 25300.0, 34516.0, 24312.0, 28904.0, 34516.0, 34516.0, 31302.0, 34516.0, 34516.0, 33791.0, 24159.0, 34516.0, 34516.0, 32090.0, 32643.0, 32975.0, 34516.0, 26792.0, 27259.0, 34516.0, 34516.0, 24407.0, 34516.0, 34516.0, 27756.0, 34516.0, 34516.0, 34516.0, 24396.0, 34516.0, 27126.0, 34516.0, 24221.0, 34516.0, 34516.0, 34516.0, 34620.0, 34516.0, 34516.0, 34516.0, 24571.0, 28202.0, 24850.0, 34516.0, 29963.0, 27000.0, 34516.0, 24487.0, 29801.0, 34516.0, 29659.0, 26181.0, 29770.0, 29205.0, 24602.0, 34516.0, 30579.0, 24480.0, 33304.0, 27512.0, 34516.0, 26443.0, 34516.0, 24869.0, 34516.0, 34595.0, 30271.0, 34516.0, 24742.0, 27560.0, 34516.0, 34516.0, 34516.0, 32156.0, 34516.0, 34516.0, 26945.0, 34516.0, 33864.0, 25657.0, 26437.0, 34516.0, 30948.0, 34516.0, 32349.0, 31383.0, 30883.0, 33951.0, 30655.0, 25188.0, 26442.0, 26750.0, 34516.0, 26977.0, 34516.0, 23991.0, 34516.0, 26714.0, 24880.0, 34575.0, 34516.0, 34516.0, 33406.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 24545.0, 34516.0, 34516.0, 25878.0, 34516.0, 25666.0, 34516.0, 34516.0, 34516.0, 27088.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 30503.0, 34516.0, 29543.0, 34516.0, 25058.0, 34516.0, 34516.0, 33182.0, 25662.0, 28822.0, 34584.0, 33405.0, 27157.0, 34516.0, 34516.0, 25197.0, 34516.0, 24336.0, 24577.0, 29961.0, 33791.0, 28465.0, 34516.0, 34516.0, 23996.0, 30011.0, 32558.0, 32641.0, 27858.0, 34516.0, 34516.0, 34516.0, 34616.0, 24765.0, 31864.0, 33180.0, 27992.0, 34516.0, 31258.0, 34516.0, 27310.0, 34516.0, 27732.0, 34516.0, 24296.0, 32938.0, 25790.0, 34516.0, 32338.0, 34516.0, 34516.0, 28170.0, 24589.0, 30310.0, 28020.0, 31313.0, 34516.0, 30210.0, 30967.0, 31762.0, 26437.0, 25008.0, 24703.0, 34516.0, 32444.0, 34516.0, 25033.0, 34516.0, 34516.0, 34516.0, 30746.0, 34516.0, 34516.0, 34516.0, 24457.0, 26783.0, 25516.0, 34516.0, 34516.0, 28410.0, 30753.0, 34516.0, 34516.0, 24936.0, 26101.0, 25618.0, 27389.0, 34516.0, 27029.0, 34516.0, 34516.0, 34516.0, 34516.0, 24073.0, 25517.0, 25882.0, 26556.0, 26570.0, 26053.0, 28751.0, 34516.0, 32096.0, 34516.0, 26372.0, 26365.0, 34516.0, 34516.0, 27499.0, 32964.0, 34516.0, 34516.0, 30622.0, 34516.0, 33996.0, 34516.0, 31680.0, 34010.0, 24904.0, 34516.0, 30030.0, 27745.0, 34516.0, 25215.0, 24446.0, 27347.0, 32056.0, 34516.0, 34516.0, 31501.0, 34516.0, 26566.0, 34516.0, 28830.0, 32024.0, 25907.0, 27175.0, 34516.0, 26222.0, 34173.0, 34516.0, 34516.0, 32658.0, 28634.0, 32446.0, 32676.0, 34516.0, 26988.0, 34516.0, 34516.0, 34516.0, 34516.0, 28700.0, 26218.0, 34516.0, 26856.0, 34516.0, 34516.0, 34516.0, 27710.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 31945.0, 34516.0, 25873.0, 27751.0, 34516.0, 24580.0, 29893.0, 26124.0, 34516.0, 34516.0, 34516.0, 34564.0, 34516.0, 34516.0, 30137.0, 34516.0, 34516.0, 34516.0, 29200.0, 34663.0, 25270.0, 33755.0, 34516.0, 30702.0, 34516.0, 34516.0, 25620.0, 34516.0, 24248.0, 30428.0, 34516.0, 24949.0, 29695.0, 33472.0, 34516.0, 28397.0, 34516.0, 34516.0, 34516.0, 34516.0, 32210.0, 29923.0, 34550.0, 32866.0, 34516.0, 31458.0, 34516.0, 34516.0, 34516.0, 28701.0, 24149.0, 24657.0, 31668.0, 34516.0, 34516.0, 29812.0, 34516.0, 24126.0, 34516.0, 33408.0, 34516.0, 30733.0, 34516.0, 34516.0, 27781.0, 34516.0, 34516.0, 34516.0, 24172.0, 26729.0, 29003.0, 28200.0, 34516.0, 30314.0, 30820.0, 32719.0, 25133.0, 28262.0, 34516.0, 34614.0, 34516.0, 24016.0, 26516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 26058.0, 34516.0, 34516.0, 31756.0, 34516.0, 34516.0, 24528.0, 31954.0, 25837.0, 34516.0, 24534.0, 33384.0, 30560.0, 32182.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 26229.0, 27876.0, 29149.0, 34572.0, 31631.0, 25027.0, 27391.0, 25502.0, 28618.0, 34518.0, 26548.0, 34516.0, 34516.0, 34516.0, 25190.0, 30540.0, 34516.0, 32535.0, 24593.0, 26107.0, 34516.0, 34516.0, 34516.0, 30666.0, 34516.0, 27804.0, 25824.0, 31625.0, 32409.0, 34516.0, 30899.0, 26723.0, 26792.0, 26174.0, 29939.0, 24931.0, 28327.0, 29551.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 24299.0, 34516.0, 25937.0, 31501.0, 33913.0, 34516.0, 28186.0, 34516.0, 28142.0, 34516.0, 30501.0, 34516.0, 25991.0, 28390.0, 34516.0, 28829.0, 33771.0, 24287.0, 25045.0, 27374.0, 34516.0, 34663.0, 34516.0, 34516.0, 34516.0, 25256.0, 34516.0, 34516.0, 31743.0, 27186.0, 29535.0, 34516.0, 34516.0, 34516.0, 34516.0, 32838.0, 34516.0, 24033.0, 25293.0, 26129.0, 33371.0, 34516.0, 34516.0, 31978.0, 34516.0, 26496.0, 34516.0, 34516.0, 34516.0, 29715.0, 28422.0, 33521.0, 26308.0, 34198.0, 34516.0, 32244.0, 25670.0, 34516.0, 34516.0, 24621.0, 33122.0, 34516.0, 34516.0, 30928.0, 34516.0, 25944.0, 30997.0, 26142.0, 34516.0, 30357.0, 34516.0, 24542.0, 26108.0, 26303.0, 25060.0, 28292.0, 29100.0, 34516.0, 34516.0, 25856.0, 34516.0, 34516.0, 29638.0, 34516.0, 27378.0, 34545.0, 34516.0, 29195.0, 28253.0, 24250.0, 34516.0, 34516.0, 34516.0, 34516.0, 24028.0, 33142.0, 34516.0, 34516.0, 27436.0, 34516.0, 24512.0, 34516.0, 34532.0, 34516.0, 30976.0, 31733.0, 34575.0, 30186.0, 34516.0, 34516.0, 34516.0, 28600.0, 34516.0, 25658.0, 32733.0, 34516.0, 34516.0, 34516.0, 34516.0, 25276.0, 34516.0, 29898.0, 34516.0, 32611.0, 34516.0, 34516.0, 31636.0, 34516.0, 32431.0, 34516.0, 34516.0, 28229.0, 24868.0, 34624.0, 34058.0, 26690.0, 34516.0, 34516.0, 34516.0, 34516.0, 27437.0, 34516.0, 34545.0, 34516.0, 25219.0, 34516.0, 34516.0, 29219.0, 24462.0, 29795.0, 24221.0, 34649.0, 33211.0, 34516.0, 34647.0, 34516.0, 34516.0, 34516.0, 34664.0, 34601.0, 34516.0, 34644.0, 34584.0, 34516.0, 34516.0, 34516.0, 25645.0, 28673.0, 25410.0, 34516.0, 27169.0, 32777.0, 24987.0, 34516.0, 34516.0, 32106.0, 34516.0, 34521.0, 24431.0, 34516.0, 24256.0, 30300.0, 24379.0, 28930.0, 34516.0, 34516.0, 34516.0, 34496.0, 34516.0, 24735.0, 29690.0, 34516.0, 25178.0, 34516.0, 24965.0, 34516.0, 30210.0, 34516.0, 27720.0, 27712.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 24670.0, 34516.0, 34516.0, 31560.0, 34516.0, 29572.0, 26882.0, 34516.0, 25894.0, 34516.0, 33184.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 33441.0, 31987.0, 34516.0, 34516.0, 34516.0, 34516.0, 32292.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 31497.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 31639.0, 34516.0, 34516.0, 26438.0, 34516.0, 34516.0, 31782.0, 34516.0, 34516.0, 34516.0, 27984.0, 24499.0, 27318.0, 26692.0, 34516.0, 33256.0, 34516.0, 34516.0, 34516.0, 34516.0, 28852.0, 26840.0, 34516.0, 34516.0, 34516.0, 34516.0, 34544.0, 34516.0, 34516.0, 34516.0, 34516.0, 32926.0, 24533.0, 30117.0, 34516.0, 24262.0, 34516.0, 34516.0, 25737.0, 29338.0, 25808.0, 34516.0, 34516.0, 34516.0, 25736.0, 29227.0, 34516.0, 34516.0, 34516.0, 28307.0, 34516.0, 34516.0, 30172.0, 28687.0, 25653.0, 34516.0, 29890.0, 34516.0, 30379.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 28605.0, 34516.0, 24244.0, 34516.0, 34458.0, 34516.0, 34516.0, 34516.0, 33565.0, 34516.0, 34516.0, 27742.0, 34516.0, 34516.0, 34516.0, 25601.0, 25428.0, 24927.0, 33889.0, 33552.0, 34516.0, 29394.0, 24250.0, 33711.0, 31699.0, 34516.0, 34516.0, 33870.0, 34516.0, 29239.0, 34516.0, 34516.0, 31346.0, 30498.0, 29531.0, 34516.0, 27670.0, 34516.0, 32535.0, 34516.0, 34516.0, 29038.0, 34516.0, 34516.0, 34516.0, 34516.0, 29528.0, 34516.0, 34516.0, 34516.0, 32791.0, 34577.0, 34516.0, 34516.0, 34516.0, 34516.0, 25438.0, 32089.0, 34516.0, 32417.0, 27945.0, 34516.0, 34516.0, 34516.0, 34516.0, 29738.0, 34516.0, 34516.0, 32554.0, 32056.0, 29856.0, 34516.0, 28612.0, 24134.0, 27929.0, 34516.0, 34516.0, 32587.0, 34516.0, 34516.0, 34516.0, 31832.0, 34427.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34587.0, 34516.0, 34516.0, 34516.0, 34516.0, 26819.0, 34516.0, 24844.0, 34516.0, 34516.0, 34516.0, 34516.0, 31718.0, 34516.0, 34516.0, 24884.0, 29974.0, 34516.0, 34516.0, 32949.0, 32250.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 28570.0, 32563.0, 34516.0, 34516.0, 34516.0, 34516.0, 29295.0, 26423.0, 34516.0, 34557.0, 29937.0, 27514.0, 32275.0, 27494.0, 30885.0, 34516.0, 34516.0, 24001.0, 34516.0, 30543.0, 34516.0, 34516.0, 24239.0, 32222.0, 34516.0, 34516.0, 31091.0, 34516.0, 27229.0, 34516.0, 34516.0, 34516.0, 34516.0, 28043.0, 34516.0, 34516.0, 34516.0, 34529.0, 34516.0, 34516.0, 34516.0, 34516.0, 34516.0, 29076.0, 34516.0, 34516.0, 34516.0, 34140.0, 34516.0, 34516.0, 34516.0, 33779.0, 34516.0, 34516.0, 34516.0, 25217.0, 25187.0, 29865.0, 34516.0, 30770.0, 27124.0, 28174.0, 26710.0, 34516.0, 34516.0, 26021.0, 34516.0, 34516.0, 33905.0, 33004.0, 34516.0, 34516.0, 30082.0, 34516.0, 34516.0, 26923.0, 26812.0, 31546.0, 34516.0, 34516.0, 34162.0, 34516.0, 34516.0, 34516.0, 28831.0, 26794.0, 34516.0, 28564.0, 34516.0, 34516.0, 34516.0, 34516.0, 29808.0, 29663.0, 34516.0, 34664.0, 34516.0]
Column : Total_Revolving_Bal
Number of outliers : 0
Column : Avg_Open_To_Buy
Number of outliers : 963

## Identify the missing values in the dataset and display the count of missing values

In [25]:
df.isnull().sum()

CLIENTNUM                     0
Attrition_Flag                0
Customer_Age                  0
Gender                        0
Dependent_count               0
Education_Level               0
Marital_Status                0
Income_Category               0
Card_Category               132
Region                        0
Months_on_book                0
Total_Relationship_Count      0
Months_Inactive_12_mon        0
Contacts_Count_12_mon         0
Credit_Limit                 60
Total_Revolving_Bal           0
Avg_Open_To_Buy               0
Total_Trans_Amt               0
Total_Trans_Ct                0
Avg_Utilization_Ratio         0
dtype: int64

## Perform the data imputation using whiever method suits most logically for the given columns in the dataset.

In [26]:
df['Card_Category'].mode()

0    Blue
Name: Card_Category, dtype: object

In [28]:
df['Card_Category']=df['Card_Category'].fillna(df.Card_Category.mode()[0])

In [35]:
df.dropna(subset=['Credit_Limit'], inplace=True)

In [36]:
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Region                      0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Trans_Amt             0
Total_Trans_Ct              0
Avg_Utilization_Ratio       0
dtype: int64

In [38]:
df.to_csv('Filtered Data.csv')